# JWT Configuration
JWT_SECRET=default_secret_key
JWT_REFRESH_SECRET=default_refresh_secret_key

# Microservices URLs
ORDER_SERVICE_URL=http://order-service-app

# Server Configuration
PORT=4006

# HTTP Configuration
HTTP_TIMEOUT=10000

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
